<!doctype html>
<html ng-app="numberGuessApp">
  <head>
    <script ype="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="numberGuess.js"></script>
  </head>
  <body>
    <div ng-controller="GuessEntryController as numberGuess">
      <form name="numberGuess.makeGuess()">      
        <label>Start a new game!</label>
        <button class="btn-primary" ng-click="numberGuess.startGame()"/>Start Game</button>
        <label>Guess:</label>
        <input type="text" ng-model="youGuess" placeholder="Enter your guess here">
        <button class="btn-primary" ng-click="numberGuess.makeGuess()"/>Make Guess</button>
        <hr>
          <h1>Response: {{serverResponse}}!</h1>
      </form>
    </div>
  </body>
</html>